<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link href="../../static/css/auth-header-style.css" rel="stylesheet">
</head>

<body>
<header class="signin-header" th:fragment="signin">
    <div class="header-container">
        <div class="right-header">
            <a th:href="@{/home}">
                <img alt="Logo" class="logo"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Shopee.svg/1200px-Shopee.svg.png">
            </a>
            <h2>Log In</h2>
        </div>

        <div class="left-header">
            <a href="#help">You need help?</a>
        </div>
    </div>
</header>

<header class="signup-header" th:fragment="signup">
    <div class="header-container">
        <div class="right-header">
            <a th:href="@{/home}">
                <img alt="Logo" class="logo"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Shopee.svg/1200px-Shopee.svg.png">
            </a>
            <h2>Register</h2>
        </div>

        <div class="left-header">
            <a href="#help">You need help?</a>
        </div>
    </div>
</header>
</body>

</html>